<!doctype html>

<html lang="pt-br">
	<head>
		<title> central de ajuda </title>
		<meta charset="utf-8">
		<script src="https://use.fontawesome.com/65acd3825f.js"></script>
		<link rel="stylesheet" type="text/css" href="./css/ajuda.css">
		<link rel="stylesheet" type="text/css" href="./css/reset.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<script type="text/javascript" src="./css/ajuda.js"></script>

	</head>

	<body>

		{{>header}}

		<main class="main-div">

			<div class="central">
				<h1>Central de Ajuda</h1>
			</div>
			
			<div>
				<h2 class="conteudo">Qual é a sua dúvida?</h2>
			</div>  
			<hr>

			<div class="pergunta_container">
				<div class="pergunte_title">
					<p class="pergunta">Como consigo alterar meus dados?</p> 
					<i class="fa fa-2x fa-chevron-down fa-xs" aria-hidden="true"></i>
				</div>

				<div class="resposta_container">
					<p class="resposta">Na página home, há no cabeçalho um campo escrito "conta". Ao clicar nesse canto o usuário será direcionado ao local em que poderá alterar e salvar os seus dados.</p>
				</div>
			</div>
			<hr>

			<div class="pergunta_container">
				<div class="pergunte_title">
					<p class="pergunta">Onde fica a parte de visualização das compras?</p>
					<i class="fa fa-2x fa-chevron-down fa-xs" aria-hidden="true"></i>
				</div>

				<div class="resposta_container">
					<p class="resposta">Na página home, há no cabeçalho um campo escrito "carrinho". Ao clicar nesse campo, o usuário será direcionado para a página dos produtos escolhidos por este.</p>
				</div>
			</div>
			<hr>

			<div class="pergunta_container">
				<div class="pergunte_title">
					<p class="pergunta">Quais e que tipos de produtos são oferecidos?</p> 
					<i class="fa fa-2x fa-chevron-down fa-xs" aria-hidden="true"></i>
				</div>

				<div class="resposta_container">
					<p class="resposta">Os produtos oferecidos se enquadram nas categorias: frutas, grãos, verduras, cestas e outras. Dentro dessas categorias há os produtos como: maçã, feijão, banana, alface e outros.</p>
				</div>
			</div>
			<hr>

			<div class="pergunta_container">
				<div class="pergunte_title">
					<p class="pergunta">Quais é o objetivo desse site?</p> 
					<i class="fa fa-2x fa-chevron-down fa-xs" aria-hidden="true"></i>
				</div>

				<div class="resposta_container">
					<p class="resposta">O objetivo desse site é deixar o usuário mais confortável na hora de fazer as suas compras, sem provocar a ida e vinda de pessoas aos mercados(feiras) no meio dessa pandemia.</p>
				</div>
			</div>
			<hr>

		</main>

		<div class="rodape">
			<div>
				<p>Visite as nossas redes sociais.<span style="color: black;" >#FiqueEmCasa</span>.</p>
			</div>
		</div>

		<script>
			const perguntas = document.querySelectorAll(".pergunta_container");

			perguntas.forEach( pergunta => {
				pergunta.addEventListener("click", (e) => {
					const resposta = pergunta.querySelector(".resposta_container");
					const icon = pergunta.querySelector("i");

					resposta.classList.toggle("active");
					icon.classList.toggle("icon_active");
				})
			})
		</script>
	
	</body>
</html>