<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rochester&family=Sedgwick+Ave&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">
        {{>head}}
        <link href="css/cadastro.css" rel="stylesheet">
        <title>Cadastro</title>
    </head>
    <body>
        {{>header}}
        
        <div class="main_div">
            <div class="cadastro_main">
                <div id="CaixaCadastro">
                    <form>
                        <p>Nome:</p>
                        <input required type="text" autocomplete="name" id="name" placeholder="Digite seu nome ">
                        <p>E-mail:</p>
                        <input required type="email" autocomplete="email" id="email" placeholder="Digite seu e-mail ">
                        <p>Senha:</p>
                        <input required type="password" autocomplete="new-password" id="password" minlength="6" placeholder="Digite sua senha">
                        <p>Confirmar senha:</p>
                        <input required type="password" autocomplete="new-password" id="password2" minlength="6" placeholder="Confirme sua senha">
                        <div id="Endereço-total">
                            <div id="Endereço-casa">
                                <p>Endereço:</p>
                                <input required type="text"  autocomplete="street-address" id="adress" placeholder="Digite seu endereço ">
                            </div>
                            <div class="Bairro-númerocasa">
                                <p>Bairro:</p>
                                <input required type="text" autocomplete="address-level3" id="adress2" placeholder="Digite seu Bairro ">
                            </div>
                            <div class="Bairro-númerocasa">
                                <p>Número:</p>
                                <input required type="number" autocomplete="address-level4" id="adress3" placeholder="Digite o número">
                            </div>
                        </div>
                        <p>Celular:</p>
                        <input required type="text" class="form-control cel-sp-mask" id="phone" placeholder="Ex.: (00) 00000-0000">
                        <p>CPF: </p>
                        <input required type="text" class="form-control cpf-mask" id="cpf" placeholder="Ex.: 000.000.000-00">
                        <p id="OpcaodeEntrar">Você ja possui uma conta? <a href="/login">Clique aqui para entrar!</a></p>
                        <input required type="submit" name="" value="Cadastro">
                    </form>
                </div>
            </div>
        </div>

        {{>footer}}
        <script src="./js/cadastro.js"></script>
        <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>