<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rochester&family=Sedgwick+Ave&display=swap" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/cadastro.css" rel="stylesheet">
        <title>Cadastro</title>
    </head>
    <body>
        {{>header}}
        
        <div class="main_div">
            <div class="cadastro_main">
                <div id="CaixaCadastro">
                    <form>
                        <p>Nome:</p>
                        <input required type="text" autocomplete="name" id="name" placeholder="Digite seu nome ">
                        <p>E-mail:</p>
                        <input required type="email" autocomplete="email" id="email" placeholder="Digite seu e-mail ">
                        <p>Senha:</p>
                        <input required type="password" autocomplete="new-password" id="password" minlength="6" placeholder="Digite sua senha">
                        <p>Confirmar senha:</p>
                        <input required type="password" autocomplete="new-password" id="password2" minlength="6" placeholder="Confirme sua senha">
                        <p>Endereço:</p>
                        <input required type="text" autocomplete="street-address" id="adress" placeholder="Digite seu endereço ">
                        <p>Celular:</p>
                        <input required type="number" autocomplete="tel" id="phone" placeholder="99 99999 9999" minlength="10" maxlength="10">
                        <p>CPF: </p>
                        <input required type="number" autocomplete="off" id="cpf" placeholder="Digite seu CPF" minlength="11" maxlength="11">
                        <p id="OpcaodeEntrar">Você ja possui uma conta? <a href="#">Clique aqui para entrar!</a></p>
                        <input required type="submit" name="" value="Cadastro">
                    </form>
                </div>
            </div>
        </div>

        {{>footer}}
        <script src="./js/cadastro.js"></script>
    </body>
</html>