<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rochester&family=Sedgwick+Ave&display=swap" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/cadastro.css" rel="stylesheet">
        <title>Cadastro</title>
    </head>
    <body>
        {{>header}}
        
        <div class="main_div">
            <div class="cadastro_main">
                <div id="CaixaCadastro">
                    <form>
                        <p>Nome:</p>
                        <input type="text" autocomplete="off" name="" placeholder="Digite seu nome ">
                        <p>E-mail:</p>
                        <input type="email" autocomplete="off" name="" placeholder="Digite seu e-mail ">
                        <p>Endereço:</p>
                        <input type="text" autocomplete="off" name="" placeholder="Digite seu endereço ">
                        <p>Senha:</p>
                        <input type="password" autocomplete="off" name="" placeholder="Digite sua senha">
                        <p>Celular:</p>
                        <input type="number" autocomplete="off" name="" placeholder=" Digite seu celular">
                        <p>CPF: </p>
                        <input type="number" autocomplete="off" name="" placeholder="Digite seu CPF" pattern="[0-9]{11}">
                        <p id="OpcaodeEntrar">Você ja possui uma conta? <a href="#">Clique aqui para entrar!</a></p>
                        <input type="submit" name="" value="Cadastro">
                    </form>
                </div>
            </div>
        </div>

        {{>footer}}
    </body>
</html>