<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/65acd3825f.js"></script>
  {{>head}}
  <link href="./css/carrinho.css" rel="stylesheet">
  <title>Inicio</title>
</head>
<body>
  {{>header}}
  
  <div class="main_div">
    <div class="carrinho__main">
      <h1>Meu carrinho</h1>

      <div class="carrinho__container">

        <div class="carrinho__items shadowG">

          <div class="carrinho__item">
            <img src="./img/alface.jpg">

            <h2>Alface</h2>

            <div class="quantity_selector">
              <div>
                <form class="quantity_form" method="POST">
                  <input type="submit" value="-" name="pop" >
                </form>

                <input autocomplete="off" type="tel" value="1" class="quantity_input">

                <form class="quantity_form" method="POST">
                  <input type="submit" value="+" name="pop" >
                </form>
              </div>
              <span>190 disponíveis</span>
            </div>

            <h3>R$ 15,00</h3>

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M9 3h6v-1.75c0-.066-.026-.13-.073-.177-.047-.047-.111-.073-.177-.073h-5.5c-.066 0-.13.026-.177.073-.047.047-.073.111-.073.177v1.75zm11 1h-16v18c0 .552.448 1 1 1h14c.552 0 1-.448 1-1v-18zm-10 3.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5v12c0 .276.224.5.5.5s.5-.224.5-.5v-12zm5 0c0-.276-.224-.5-.5-.5s-.5.224-.5.5v12c0 .276.224.5.5.5s.5-.224.5-.5v-12zm8-4.5v1h-2v18c0 1.105-.895 2-2 2h-14c-1.105 0-2-.895-2-2v-18h-2v-1h7v-2c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v2h7z"/></svg>
          </div>

          <div class="carrinho__item">
            <img src="./img/alface.jpg">

            <h2>Couve-flor holandesa</h2>

            <div class="quantity_selector">
              <div>
                <form class="quantity_form" method="POST">
                  <input type="submit" value="-" name="pop" >
                </form>

                <input autocomplete="off" type="tel" value="1" class="quantity_input">

                <form class="quantity_form" method="POST">
                  <input type="submit" value="+" name="pop" >
                </form>
              </div>
              <span>190 disponíveis</span>
            </div>

            <h3>R$ 15,00</h3>

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M9 3h6v-1.75c0-.066-.026-.13-.073-.177-.047-.047-.111-.073-.177-.073h-5.5c-.066 0-.13.026-.177.073-.047.047-.073.111-.073.177v1.75zm11 1h-16v18c0 .552.448 1 1 1h14c.552 0 1-.448 1-1v-18zm-10 3.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5v12c0 .276.224.5.5.5s.5-.224.5-.5v-12zm5 0c0-.276-.224-.5-.5-.5s-.5.224-.5.5v12c0 .276.224.5.5.5s.5-.224.5-.5v-12zm8-4.5v1h-2v18c0 1.105-.895 2-2 2h-14c-1.105 0-2-.895-2-2v-18h-2v-1h7v-2c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v2h7z"/></svg>
          </div>
          
        </div>

        <div class="carrinho__checkout shadowG">
          <h3>Informações do pedido</h3>

          <div style="flex-direction: row;">
            <div style="flex-direction: column;">
              <span>Subtotal</span>
              <span>Envio</span>
              <span>Desconto</span>
            </div>

            <div style="flex-direction: column;">
              <span>R$ 45,00</span>
              <span>R$ 00,00</span>
              <span>R$ 00,00</span>
            </div>
          </div>

          <div class="total">
            <span>Total</span>
            <span>R$ 45,00</span>
          </div>

          <a href="">Continuar a compra</a>
        </div>

      </div>
    </div>
  </div>

  {{>footer}}
</body>
</html>