<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>head}}
  <link href="./css/erro.css" rel="stylesheet">
  <title>Oops!</title>
</head>
<body>
  {{>header}}
  
  <div class="main_div">
    <div class="main_erro">
      <div>
        <h1>{{code}}</h1>
        <h3>{{message}}</h3>
      </div>
      <a href="{{button_url}}" class="shadowG">{{button_text}}</a>
    </div>
  </div>

  {{>footer}}
</body>
</html>