<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/65acd3825f.js"></script>
  {{>head}}
  <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
  <link href="./css/home.css" rel="stylesheet">
  <title>Inicio</title>
</head>
<body>
  {{>header}}
  
  <div class="main_div">

    <div class="main-intro">
      <div>
        <p>Bem-vindo a primeira feira online da ASCII! Aqui voce poderá fazer suas compras, sem ter que sair do conforto da sua casa e, evitar a aglomeração no mercado em meio a pandemia!</p>
        <img src="./img/feira2.png"/>
      </div>

      <div class="reverse">
        <img src="./img/heart.png" />
        <p>Feita com carinho, pensando na sua saúde e conforto!</p>
      </div>

      <img src="./img/grass.png" style="width: 100%;" />
    </div>

    <div class="main-section">
      <div id="1" class="main-section-title">
        <div class="background-image" style="background-image: url('./img/hortaliças.jpg');"></div>
        <h2>HORTALIÇAS</h2>
      </div>

      <div class="main-section-items-container">
        {{#each hortalicas}}
          {{>produto this}}
        {{/each}}
      </div>

      <div id="2" class="main-section-title">
        <div class="background-image" style="background-image: url('./img/graos.jpg');"></div>
        <h2>GRÃOS</h2>
      </div>

      <div class="main-section-items-container">
        {{#each graos}}
          {{>produto this}}
        {{/each}}
      </div>

      <div id="3" class="main-section-title">
        <div class="background-image" style="background-image: url('./img/frutas.jpg');"></div>
        <h2>FRUTAS</h2>
      </div>

      <div class="main-section-items-container">
        {{#each frutas}}
          {{>produto this}}
        {{/each}}
      </div>

      <div id="4" class="main-section-title">
        <div class="background-image" style="background-image: url('./img/cesta_.jpg');"></div>
        <h2>CESTAS</h2>
      </div>

      <div class="main-section-items-container">
        {{#each cestas}}
          {{>cesta this}}
        {{/each}}
      </div>

    </div>

    {{>footer}}
  </div>
</body>
</html>