<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rochester&family=Sedgwick+Ave&display=swap" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/login.css" rel="stylesheet">
        <title>Entrar</title>
    </head>
    <body >
        {{>header}}

        <div class="main_div">
            <div class="login_main">
                <div id="CaixaLogin">
                    <h1 id="Login">Login</h1>

                    <form>
                        <p>E-mail:</p>
                        <input type="email" id="email" placeholder="Insira seu E-mail">
                        <p>Senha:</p>
                        <input type="password" id="password" name="" placeholder="Insira sua senha">
                        <input type="submit"  value="Entrar">
                        <p class="TextoCaixaLogin">Ainda não possui uma conta?</p>
                        <a  href="#" >Cadastre-se já</a>
                    </form>
                </div>
            </div>

        </div>

        {{>footer}}
        <script src="./js/login.js"></script>
    </body>
</html>