<div class="main-section-item" id="{{_id}}">
  <img src="{{ImagemUrl}}"/>

  <h2>{{Nome}}</h2>

  <span>R$<span class="preço">{{Preco}} </span>por <span class="medida">K/g</span></span>

  <div class="quatity_container">
    <form class="quantity_form" method="POST">
      <input type="submit" value="-" name="pop" >
    </form>

    <input size="1" autocomplete="off" type="number" value="1" class="quantity_input" maxlength="3" min="1">

    <form class="quantity_form" method="POST">
      <input type="submit" value="+" name="pop" >
    </form>
  </div>

  <button>Adicionar ao carrinho</button>
</div>
