@charset "UTF-8";

/*Formatação da pagina de Cadastro*/

.cadastro_main {
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*Formatação do Formulario de Cadastro*/


    div#CaixaCadastro{
        width: 45%;
        border: 1px solid rgb(152, 158, 158);
        border-radius: 80px 0px;
        color: #fff;
        background-color: rgba(76, 173, 47, 0.75);
        box-sizing: border-box;
        padding: 68px 28px;

    }


    div#CaixaCadastro p{
        margin: 0;
        padding: 0;
        font-family: 'Raleway', cursive;
        color: black;
        font-size: 1.25em;
        margin-bottom: 21px;
        font-weight: bold;
    }
     
    
    
    div#CaixaCadastro input{
        width: 100%;
        margin-bottom: 42px;
    }
    
div#CaixaCadastro input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"]{
        border: none;
        border-bottom: 1px solid white;
        background: rgba(255, 255, 255, 1);
        height: 40px;
        font-size: 1em;
		border-radius: 9px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        padding-left: 10px;
    }

    div#CaixaCadastro input[type="submit"]{
        border: none;
        outline: none;
        height: 80px;
		color: #000;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        background: white;
        border-radius: 20px;
        font-family: 'Raleway', cursive;
        font-size: 1.625em;
        width: 228px;
        margin-left: 35%;
        /* margin-top: -5px; */
    }
    
    div#CaixaCadastro input[type="submit"]:hover {
        cursor: pointer;
        background: rgb(196, 197, 196);
		transition: 0.3s;
    }
    
    div#CaixaCadastro p#OpcaodeEntrar{
	   font-weight: lighter;
	   padding-left: 15%;
    }
    /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    /*                                                                                   RESPONSIVIDADE                                                                            */

    @media(max-width: 1250px){
        div#CaixaCadastro{
            width: 60%;
            height: 830px;
        }

        div#CaixaCadastro input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"]{
            font-size: 0.9em;
            height: 30px;
        }

        div#CaixaCadastro input[type="submit"]{
            height: 60px;
            margin-left: 30%;
        }
        div#CaixaCadastro p{
            font-size: 0.8em;
            font-weight: bold;
        }
    }

    @media(max-width: 1033px) {
        div#CaixaCadastro{
            width: 65%;
            height: 830px;
        }

        div#CaixaCadastro input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"]{
            font-size: 0.8em;
            height: 30px;
        }

        div#CaixaCadastro input[type="submit"]{
            height: 50px;
            margin-left: 25%;
        }
        div#CaixaCadastro p{
            font-size: 0.7em;
            font-weight: bold;
        }
    }

        @media(max-width: 855px) {
            div#CaixaCadastro{
                width: 70%;
                height: 760px;
            }
    
            div#CaixaCadastro input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"]{
                font-size: 0.6em;
                height: 20px;
            }
    
            div#CaixaCadastro input[type="submit"]{
                height: 35px;
                font-size: 1em;
                width: 140px;
            }
            div#CaixaCadastro p{
                font-size: 0.6em;
                font-weight: bold;
            }
        }

    /*Mobile*/

    @media(max-width: 555px) {
        div#CaixaCadastro{
            width: 80%;
            height: 85%;
        }
    }