@charset "UTF-8";

/*Formatação da pagina de Cadastro*/


body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Formatação do Cabeçalho*/


header#HeaderCadastro{
    background-color:rgb(211, 38, 38);
    height: 85px;
    padding-left:20px;
}
div#TextoCabeçalho{
    font-family: 'Sedgwick Ave';
    letter-spacing: 4px;
    color: white;
    font-size: 26px;
    padding-top: 30px;
    padding-left: 50px;
}

img#IconeCabeçalho{
    width: 48px;
    padding-top: 20px;
    float: left;
    position: relative;
}

nav#MenuCadastro {
        display: block;
    }


    nav#MenuCadastro ul{
        list-style: none;
        position: absolute;
        top: 0px;
        left: 1590px;
    }
    
    
    nav#MenuCadastro li{
        font-family:  'Raleway';
        font-size: 19pt;
        display: inline-block;
        padding-right: 70px;
        margin-top: 10px;
        transition: background-color 1s;
        
    }

    nav#MenuCadastro a{
        color: #ffffff;
        text-decoration: none;
    }
    
    
    nav#MenuCadastro a:hover{
        color: #000000;
        transition: 0.5s;
    }

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*Formatação do Formulario de Cadastro*/


    div#CaixaCadastro{
        width: 810px;
        height: 1000px;
        border: 1px solid rgb(152, 158, 158);
        border-radius: 80px 0px;
        color: #fff;
        background-color: rgba(76, 173, 47, 0.75);
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 68px 28px;
        margin-top: 8%;
    }


    div#CaixaCadastro p{
        margin: 0;
        padding: 0;
        font-family: 'Raleway', cursive;
        color: black;
        font-size: 20px;
        margin-bottom: 21px;
        font-weight: bold;
    }
     
    
    
    div#CaixaCadastro input{
        width: 100%;
        margin-bottom: 42px;
    }
    
div#CaixaCadastro input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"]{
        border: none;
        border-bottom: 1px solid white;
        background: rgba(255, 255, 255, 1);
        height: 40px;
        font-size: 16px;
        position: relative;
		border-radius: 9px;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        
    }





    div#CaixaCadastro input[type="submit"]{
        border: none;
        outline: none;
        height: 80px;
		color: #000;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        background: white;
        border-radius: 20px;
        font-family: 'Raleway', cursive;
        font-size: 26px;
        width: 228px;
        margin-left: 35%;
        /* margin-top: -5px; */
    }
    
    div#CaixaCadastro input[type="submit"]:hover {
        cursor: pointer;
        background: rgb(196, 197, 196);
		transition: 0.3s;
    }
    
    div#CaixaCadastro p#OpcaodeEntrar{
	   font-weight: lighter;
	   padding-left: 15%;
    }
    /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/