@charset "UTF-8";

/*Formatação da pagina de Conta*/

body{
    margin: 0;
    padding: 0;
    background-image:url(../img/FundoConta5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

.conta_main {
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Formatação do Formulario de Conta*/


    div#CaixaAlterações{
        width: 810px;
        height: 810px;
        border: 1px solid rgb(152, 158, 158);
        border-radius: 80px 0px;
        color: #fff;
        background-color: rgba(152, 158, 158, 0.75);
        box-sizing: border-box;
        padding: 68px 28px;
        margin-top: 35px;
    }


    div#CaixaAlterações p{
        margin: 0;
        padding: 0;
        font-family: 'Raleway', cursive;
        color: black;
        font-size: 20px;
        margin-bottom: 21px;
        font-weight: bold;
    }
    
    
    
    
    div#CaixaAlterações input{
        width: 100%;
        margin-bottom: 42px;
    }
    
    div#CaixaAlterações input[type="email"], input[type="password"], input[type="text"], input[type="tel"]{
        border: none;
        border-bottom: 1px solid white;
        background: rgba(255, 255, 255, 0.75);
        height: 40px;
        font-size: 16px;
        border-radius: 20px;
    }

    div#CaixaAlterações input[type="submit"]{
        border: none;
        outline: none;
        height: 80px;
        color: #000;
        background: rgb(149, 196, 89);
        border-radius: 50px;
        font-family: 'Raleway', cursive;
        font-size: 26px;
        width: 228px;
        margin-left: 35%;
        margin-top: -10px;
    }
    
    div#CaixaAlterações input[type="submit"]:hover {
        cursor: pointer;
        background: rgb(115, 151, 67);
        transition: 0.3s;
    }
    
    div#CaixaAlterações a{
        font-weight: bold;
        text-decoration: none;
        font-size: 200px;
        line-height: 20px;
        color: #4b4b4b;
        
    }
    /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    /*                                                                                   RESPONSIVIDADE                                                                            */

    @media(max-width: 1250px){
        div#CaixaAlterações{
            width: 60%;
            height: 80%;
        }

        div#CaixaAlterações input[type="email"], input[type="password"], input[type="text"], input[type="tel"]{
            font-size: 0.8em;
            height: 30px;
        }

        div#CaixaAlterações p{
            font-size: 1em;
        }

        div#CaixaAlterações input[type="submit"]{
            font-size: 1.4em;
            width: 35%;
            height: 60px;
        }
    }

    @media(max-width: 1033px) {
        div#CaixaAlterações{
            width: 65%;
            height: 75%;
        }

        div#CaixaAlterações input[type="email"], input[type="password"], input[type="text"], input[type="tel"]{
            font-size: 0.7em;
            height: 25px;
        }

        div#CaixaAlterações p{
            font-size: 0.9em;
        }

        div#CaixaAlterações input[type="submit"]{
            font-size: 1.2em;
            height: 50px;
        }

    }

    @media(max-width: 855px) {
        div#CaixaAlterações{
            width: 70%;
            height: 70%;
        }

        div#CaixaAlterações input[type="email"], input[type="password"], input[type="text"], input[type="tel"]{
            font-size: 0.65em;
            height: 22px;
        }

        div#CaixaAlterações p{
            font-size: 0.8em;
        }

        div#CaixaAlterações input[type="submit"]{
            font-size: 1em;
            height: 40px;
        }
    }


            /*Mobile*/

    @media(max-width: 555px) {

        div#CaixaAlterações{
            width: 80%;
            height: 70%;
        }

        div#CaixaAlterações input[type="submit"]{
            font-size: 0.8em;
            height: 40px;
        }
    }