header {
  border-bottom: 1px solid #fff;
  color: white;
  background-color: #D32626;
  height: 90px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-bottom: 90px;
}

header a {
  font-size: 1.5em;
  font-weight: 200;
  color: #fff ;
  cursor: pointer;
}

header h1 {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 2.4em;
  color: #A2DE96;
  cursor: pointer;
  margin-left: 5px;
}

header img {
  width: 50px;
  height: 50px;
  background-size: contain;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.links-container {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}
/* --------------- DROPDOWN DA CONTA ----------------  */
.account-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 15%;
  height: 120px; 
  max-height: 0%;
  overflow: hidden;
  right: 0%;
  align-items: center;
  justify-content: space-evenly;
  top: 90px;
  background-color: #000;
  transition: max-height 0.5s;
  text-align: center;
}

.active {
  max-height: 200px;
}
/* --------- ICONE DO DROPDOWN ---------- */
#icon {
  transition: transform 0.4s;
}

.icon-active {
  transform: translateY(5px) rotateX(180deg);
}
/* ------------ ICONE DE MENU E MENU MOBILE ---------------- */
.menu {
  display: none;
  margin-right: 30px;
  cursor: pointer;
  transition: color 0.3s;
}
.menu:hover {
  color: #000;
}
.links-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D32626;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
  .links-container-mobile a {
    padding: 7px;
  }
  .menu-active {
    max-height: 200px;
  }
/* --------------- EFEITOS -------------------------------- */

header img:active {
  transform: rotate(15deg);
}

a:hover {
  color: #000 !important;
  transition: color 0.3s;
}

.account-info a:hover {
  color: #D32626 !important;
  transition: color 0.3s;
}

/* ----------------------- RESPONSIVIDADE -----------------  */
@media (max-width: 855px) {
  header h1 {
    font-size: 2em;
  }
}
/* ----------- MOBILE -----------  */
@media (max-width: 650px) {
  header {
    height: 60px;
    margin-bottom: 60px;
  }
  header img {
    width: 35px;
    height: 35px;
  }
  header h1 {
    font-size: 1.5em;
  }
  .header-container {
    margin-top: 10px;
  }
  .links-container {
    display: none;
  }
  .menu {
    display: block;
  }
}