header {
  border-bottom: 1px solid #fff;
  color: white;
  background-color: #D32626;
  height: 90px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-bottom: 90px;
}

header a {
  font-size: 1.5em;
  font-weight: 200;
  color: #fff !important;
  cursor: pointer !important;
}

header h1 {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 2.4em;
  color: #A2DE96;
  cursor: pointer;
}

header img {
  width: 50px;
  height: 50px;
  background-size: contain;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.links-container {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

.account-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 15%;
  height: 120px; 
  max-height: 0%;
  overflow: hidden;
  right: 0%;
  align-items: center;
  justify-content: space-evenly;
  top: 90px;
  background-color: #000;
  transition: max-height 0.5s;
  text-align: center;
}

.active {
  max-height: 200px;
}

#icon {
  transition: transform 0.4s;
}

.icon-active {
  transform: translateY(5px) rotateX(180deg);
}

/* ----------------------------------------------- */

header img:active {
  transform: rotate(15deg);
}

a:hover {
  color: #000 !important;
  transition: color 0.3s;
}

.account-info a:hover {
  color: #D32626 !important;
  transition: color 0.3s;
}