body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  color: #333333;
  font-family: 'Roboto', sans-serif;
  background-color: #E8FFD3;
}

a {
  text-decoration: none;
  color: white;
}

p{
  letter-spacing: 1.5px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.8em;
}

.main-div {
  /* margem do tamanho do header */
  margin-top: 90px;
}

.shadowG {
  box-shadow: 6px 6px 6px 3px rgba(0,0,0,0.75);
}

/* ------ SCROLLBAR ------------  */
body::-webkit-scrollbar
{
  width: 12px;
  background-color: #121212;
}
body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #A2DE96;
}
/* ----- REMOVE AS SETAS DE INCREMENTO DO INPUT DE TYPE=NUMBER -----  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}